<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ops! Algo deu errado</title>
    <style>
        body { text-align: center; padding: 50px; font-family: sans-serif; }
        h1 { color: #d9534f; }
    </style>
</head>
<body>
    <h1>Ops! Ocorreu um erro.</h1>
    <p>{{message}}</p>
    
    <br>
    <a href="/">Voltar para a Página Inicial</a>
</body>
</html>